
serial-port=/dev/gqgmc500plus
serial-rate=115200
serial-bits=8N1

read-period=30

mqtt-server=mqtt://localhost
mqtt-client=sensor-radiation
mqtt-topic=sensors/radiation

gmcmap-user-id=12345
gmcmap-counter-id=12345678901

