[Unit]
Description=GC GMC to MQTT server
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/opt/sensors/radiation/gqgmctomqtt /opt/sensors/radiation/gqgmctomqtt.cfg
TimeoutStopSec=15s
KillMode=mixed
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
